###########################################################
# Ignoring compiled objects, logs and backups
###########################################################
*.o
*.mod
*~
#
###########################################################
## Ignoring outputs from test runs
###########################################################
#
#
###########################################################
# Unit test
###########################################################
###########################################################
# Integration test
###########################################################
###########################################################
# Stress test
###########################################################
###########################################################
# Profiling
###########################################################
